html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*root vars*/
:root {
  --border-x: 0.5px solid #ddd;
  --text-wrap: pretty;
  --bg-color: #21262d;
  --bg-color-hover: rgba(44, 52, 60, 0.15);
  --bg-tr-hover: #646363ca;
}
/*
    styles for chat bot ollama
*/
main > .wrap-ol {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  justify-content: space-between;
}
/*section to send request to ollama */
.wrap-ollama-input-btn {
  display: flex;
  justify-content: end;
  width: auto;
  margin-top: 1%;
  margin-bottom: 1%;
}
.wrap-ollama-input-btn > .req-input {
  width: 100%;
  justify-content: flex-start;
}
.wrap-ollama-input-btn > .req-btn {
  width: 10%;
  justify-content: flex-end;
  background-color: rgba(0, 3, 37, 0.64);
  border: 0;
}

.o-section-request {
  height: auto;
  background-color: rgba(0, 3, 37, 0.64);
  border-top: var(--border-x);
  border-left: var(--border-x);
  border-right: var(--border-x);
  border-bottom: var(--border-x);
}

/*section response from ollama-bot*/
.o-section-response {
  height: auto;
  background-color: rgba(0, 3, 37, 0.64);
  border-top: var(--border-x);
  border-bottom: var(--border-x);
  border-left: var(--border-x);
  border-right: var(--border-x);
}

.text-dynamic {
  resize: none;
  min-height: 50px;
  form-sizing: content;
}

.code-pre {
  border: 1px solid;
  padding: 1%;
  background: #353434;
  margin: 1% !important;
  text-wrap: var(--text-wrap);
}
.code-pre > pre {
  text-wrap: var(--text-wrap);
}
.bg-dark-modal {
  background-color: var(--bg-color);
}
.bg-dark-modal-hover {
  background-color: var(--bg-color-hover);
}
.table-history > tbody > tr:hover {
  cursor: pointer;
  background-color: var(--bg-tr-hover);
}

/* table history */
.table-history-body > tr {
  text-wrap: pretty;
}

.table-history-body tr td:first-child {
  width: 70%;
  text-align: left;
}

/* preview images */
.preview-o-img {
  width: 32px;
  height: 32px;
}
.preview-w {
  width: 109px;
}

.border-chat {
  border-top: 0.5px solid #ddd;
}

/* history nav */
.bg-history-nav {
  background-color: #1f1f1f;
}
